.nav {
  margin: 20px auto 0;
  text-align: start;
  border-bottom: 1px solid blue;
}

.link {
  display: inline-block;
  padding: 15px 20px;
  font-weight: 600;
  color: #0920f3cb;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.activeLink {
  composes: link;
  color: #dd0b0bcb;
  border-bottom: 5px solid #dd0b0bcb;
  border-radius: 5px;
}
